<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bail Reckoner</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <div class="logo">
            <a href="index.html">Bail Reckoner</a>
        </div>
        <nav class="navigation">
            <a href="index.html">Home</a>
            <a href="login.html">Login</a>
            <a href="register.html">Register</a>
            <a href="about.html">About us .</a>
        </nav>
    </header>

    <main class="main-content">
        <h1>Bail Reckoner</h1>
        <p>Understand bail conditions with ease and efficiency.</p>
        <!--<div class="buttons">
            <button onclick="location.href='login.html'">Login</button>
            <button onclick="location.href='register.html'">Register</button>
            <button onclick="location.href='about.html'">About</button>
        </div>-->
    </main>

    <footer class="footer">
        <p>&copy; 2024 Bail Reckoner. All rights reserved.</p>
    </footer>
</body>
</html>
